<!--- MENU SECTION --->

<div class="header-menu">

	<!--- TWITTER BUTTON --->
	<a href="http://twitter.com/pau87x" target="_blank" title="Twitter">
		<div class="header-menu-button">
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-twitter fa-2x"></i>
			</span>
		</div>
	</a>

	<!--- GITHUB BUTTON --->
	<a href="http://github.com/pau87x" target="_blank" title="GitHub">
		<div class="header-menu-button">
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-github fa-2x"></i>
			</span>
		</div>
	</a>
	
	<!--- INSTAGRAM BUTTON --->
	<a href="http://instagram.com/pau87x" target="_blank" title="Instagram">
		<div class="header-menu-button">
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-instagram fa-2x"></i>
			</span>
		</div>
	</a>

	<!--- ABOUT BUTTON --->
	<!--- Link to a static page titled "About" --->
	<a href="{{@blog.url}}/about/" title="About">
		<div class="header-menu-button">
			<span class="fa-stack header-menu-button-icon">
				<i class="fa fa-user fa-2x"></i>
			</span>
		</div>
	</a>

</div>
